@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Special+Gothic&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#navbar{
    position:sticky; 
    top:0;
    padding-right:50px;
    padding-left:50px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    z-index: 1000;
   
}   
.navbar .navbar-brand{
    color:green;
    font-weight: 800; !important
} 
#navbarSupportedContent a {
    color: black;
}
#navbarSupportedContent a:hover{
    background-color: rgb(137, 209, 137); 
    border-radius: 15px;

}
#navbarSupportedContent button{
    background-color:green ;
}
section{
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
#home{
    background-image:linear-gradient(to top,hwb(137 67% 18%),transparent) ,url(fruits-and-vegetables-thumb.avif);
   background-size:cover;
   background-position: center;
   flex-direction: column;

}
#home h1{
    font-size:100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px black,
                 0px 2px 0px black,
                 0px 3px 0px rgb(57, 90, 79), 
                 0px 4px 0px rgb(59, 97, 78),
                 0px 5px 0px rgb(82, 78, 78); 
      
}
#home p{
    font-size:20px;
    
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.sign-in{
    background-color: rgb(108, 179, 108);
    box-shadow: 2px 4px 5px rgba(0,0,0,.5);
}
/***about us***/
#about h1{
     font-weight: 800;
     font-size:50px 
}
#about p{
    padding-right: 200px;
}

/**products*/
#product{
    background: #e5e5e5;
}
#product h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.card{
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    margin: 20px 60px;

}
/***contactus**/
#contact img{
    height:100%;
}
.box{
    
    margin-top: 10px;
}
form{
    display:flex;
    flex-direction: column;
}
#contact input{
    margin:10px 0px;

}
#contact textarea{
    margin:10px 0px;
    
}
footer{
    width:100%;
    height:30px;
    background: rgb(131, 221, 131);
    text-align:center;
    margin-top: -30px;
    padding: 3px;
}